@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);





body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #fcd7ee !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #fcd7ee;
  border-color: #fcd7ee;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #f790d0;
  border-color: #f790d0;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #f790d0 !important;
  border-color: #f790d0 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #f578c6;
  color: #f578c6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #fcd7ee;
  border-color: #fcd7ee;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #fcd7ee !important;
  border-color: #fcd7ee !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #fcd7ee !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #fcd7ee;
}
.btn-social:hover {
  background: #fcd7ee;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #fcd7ee;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #fcd7ee;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #fcd7ee;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #fcd7ee;
}
.lead a,
.lead a:hover {
  color: #fcd7ee;
}
.lead blockquote {
  border-color: #fcd7ee;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #fcd7ee;
}
#menu-12 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-12 .navbar-caption {
  color: #ffffff;
}
#menu-12 .navbar-toggler {
  color: #000000;
}
#menu-12 .close-icon::before,
#menu-12 .close-icon::after {
  background-color: #000000;
}
#menu-12 .link,
#menu-12 .dropdown-item {
  color: #000000;
}
#menu-12 .link {
  font-size: 1.2rem;
}
#menu-12 .dropdown-item,
#menu-12 .nav-dropdown-sm .link {
  font-size: 1.300rem;
}
#menu-12 .link:hover,
#menu-12 .dropdown-item:hover,
#menu-12 .link:focus,
#menu-12 .dropdown-item:focus {
  color: #fcd7ee;
}
#menu-12 .link[aria-expanded="true"],
#menu-12 .dropdown-menu {
  background: #e6e6e6;
}
#menu-12 .nav-dropdown-sm .link:focus,
#menu-12 .nav-dropdown-sm .link:hover,
#menu-12 .nav-dropdown-sm .dropdown-item:focus,
#menu-12 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-12 .navbar,
#menu-12 .nav-dropdown-sm,
#menu-12 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-12 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-12 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-12 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-12 .bg-color.transparent.opened .link:hover,
#menu-12 .bg-color.transparent.opened .link:focus {
  color: #fcd7ee;
}
#menu-12 .link[aria-expanded="true"],
#menu-12 .dropdown-item[aria-expanded="true"] {
  color: #fcd7ee!important;
}
#header5-0 .mbr-section-title {
  color: #ffffff;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
}
#header5-0 .mbr-section-lead {
  color: #9c9a9a;
}
#header5-0 .mbr-section-title SPAN {
  color: #ec1f1f;
}
#msg-box8-s .mbr-section-title,
#msg-box8-s p {
  color: #fff;
}
#msg-box8-s .mbr-section-title {
  font-size: 100px;
  color: #f10d0d;
}
#msg-box8-r .mbr-section-title,
#msg-box8-r p {
  color: #fff;
}
#msg-box8-r .mbr-section-title {
  font-size: 46px;
  color: #ff0000;
}
#msg-box8-q .mbr-section-title,
#msg-box8-q p {
  color: #fff;
}
#msg-box8-q .mbr-section-title {
  font-size: 60px;
  color: #ffffff;
}
#msg-box8-t .mbr-section-title,
#msg-box8-t p {
  color: #fff;
}
#msg-box8-u .mbr-section-title,
#msg-box8-u p {
  color: #fff;
}
#msg-box8-u .mbr-section-title {
  font-size: 60px;
  text-align: center;
}
#msg-box8-3i .mbr-section-title,
#msg-box8-3i p {
  color: #fff;
}
#msg-box8-3i .mbr-section-title {
  font-size: 32px;
  color: #ffffff;
}
#msg-box8-3b .mbr-section-title,
#msg-box8-3b p {
  color: #fff;
}
#msg-box8-3b .mbr-section-title {
  font-size: 36px;
}
#msg-box8-3c .mbr-section-title,
#msg-box8-3c p {
  color: #fff;
}
#msg-box8-3c .mbr-section-title {
  font-size: 36px;
}
#msg-box8-3f .mbr-section-title,
#msg-box8-3f p {
  color: #fff;
}
#msg-box8-3f .mbr-section-title {
  font-size: 36px;
}
#msg-box8-3d .mbr-section-title,
#msg-box8-3d p {
  color: #fff;
}
#msg-box8-3d .mbr-section-title {
  font-size: 36px;
}
#form1-c .form-control-label {
  color: #232323;
}
#form1-c .mbr-section-title {
  color: #000000;
}
#footer1-13 P {
  text-align: right;
}
#contacts1-j P {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  text-align: right;
}
#contacts1-j STRONG {
  color: #fab5dc;
}
#contacts1-j SPAN {
  text-align: right;
}
#header3-2f .mbr-section-title,
#header3-2f .mbr-section-subtitle {
  text-align: center;
}
#menu-2b .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2b .navbar-caption {
  color: #ffffff;
}
#menu-2b .navbar-toggler {
  color: #000000;
}
#menu-2b .close-icon::before,
#menu-2b .close-icon::after {
  background-color: #000000;
}
#menu-2b .link,
#menu-2b .dropdown-item {
  color: #000000;
}
#menu-2b .link {
  font-size: 1.2rem;
}
#menu-2b .dropdown-item,
#menu-2b .nav-dropdown-sm .link {
  font-size: 1.300rem;
}
#menu-2b .link:hover,
#menu-2b .dropdown-item:hover,
#menu-2b .link:focus,
#menu-2b .dropdown-item:focus {
  color: #fcd7ee;
}
#menu-2b .link[aria-expanded="true"],
#menu-2b .dropdown-menu {
  background: #e6e6e6;
}
#menu-2b .nav-dropdown-sm .link:focus,
#menu-2b .nav-dropdown-sm .link:hover,
#menu-2b .nav-dropdown-sm .dropdown-item:focus,
#menu-2b .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-2b .navbar,
#menu-2b .nav-dropdown-sm,
#menu-2b .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2b .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-2b .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-2b .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2b .bg-color.transparent.opened .link:hover,
#menu-2b .bg-color.transparent.opened .link:focus {
  color: #fcd7ee;
}
#menu-2b .link[aria-expanded="true"],
#menu-2b .dropdown-item[aria-expanded="true"] {
  color: #fcd7ee!important;
}
#footer1-2c P {
  text-align: right;
}
#header3-2g .mbr-section-title,
#header3-2g .mbr-section-subtitle {
  text-align: center;
}

#footer1-2k P {
  text-align: right;
}
#content5-2x .mbr-section-title,
#content5-2x p {
  color: #fff;
}
#content5-2x .mbr-section-title {
  text-align: center;
  color: #000000;
}
#msg-box8-2p .mbr-section-title,
#msg-box8-2p p {
  color: #fff;
}
#header3-2r .mbr-section-title,
#header3-2r .mbr-section-subtitle {
  text-align: center;
}
#msg-box8-2s .mbr-section-title,
#msg-box8-2s p {
  color: #fff;
}
#msg-box8-2y .mbr-section-title,
#msg-box8-2y p {
  color: #fff;
}
#contacts1-2l P {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  text-align: right;
}
#contacts1-2l STRONG {
  color: #fab5dc;
}
#contacts1-2l SPAN {
  text-align: right;
}



#content5-1q .mbr-section-title,
#content5-1q p {
  color: #fff;
}
#content5-1q .mbr-section-title {
  text-align: center;
  color: #000000;
}
#msg-box8-1u .mbr-section-title,
#msg-box8-1u p {
  color: #fff;
}
#msg-box8-1u .mbr-section-title {
  font-size: 36px;
}
#msg-box8-1u .lead P {
  font-family: 'Montserrat', sans-serif;
  text-align: right;
}
#content5-1r .mbr-section-title,
#content5-1r p {
  color: #fff;
}
#msg-box5-1v P {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
#msg-box5-1z P {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
#footer1-1k P {
  text-align: right;
}
#menu-12 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-12 .navbar-caption {
  color: #ffffff;
}
#menu-12 .navbar-toggler {
  color: #000000;
}
#menu-12 .close-icon::before,
#menu-12 .close-icon::after {
  background-color: #000000;
}
#menu-12 .link,
#menu-12 .dropdown-item {
  color: #000000;
}
#menu-12 .link {
  font-size: 1.2rem;
}
#menu-12 .dropdown-item,
#menu-12 .nav-dropdown-sm .link {
  font-size: 1.300rem;
}
#menu-12 .link:hover,
#menu-12 .dropdown-item:hover,
#menu-12 .link:focus,
#menu-12 .dropdown-item:focus {
  color: #fcd7ee;
}
#menu-12 .link[aria-expanded="true"],
#menu-12 .dropdown-menu {
  background: #e6e6e6;
}
#menu-12 .nav-dropdown-sm .link:focus,
#menu-12 .nav-dropdown-sm .link:hover,
#menu-12 .nav-dropdown-sm .dropdown-item:focus,
#menu-12 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-12 .navbar,
#menu-12 .nav-dropdown-sm,
#menu-12 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-12 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-12 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-12 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-12 .bg-color.transparent.opened .link:hover,
#menu-12 .bg-color.transparent.opened .link:focus {
  color: #fcd7ee;
}
#menu-12 .link[aria-expanded="true"],
#menu-12 .dropdown-item[aria-expanded="true"] {
  color: #fcd7ee!important;
}
#content5-1t .mbr-section-title,
#content5-1t p {
  color: #fff;
}


#content5-34 .mbr-section-title,
#content5-34 p {
  color: #fff;
}
#content5-34 .mbr-section-title {
  text-align: center;
  color: #000000;
}
#msg-box8-39 .mbr-section-title,
#msg-box8-39 p {
  color: #fff;
}
#msg-box8-39 .mbr-section-title {
  color: #ff0000;
}
#msg-box8-32 .mbr-section-title,
#msg-box8-32 p {
  color: #fff;
}
#msg-box8-32 .mbr-section-title {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 36px;
}
#msg-box8-32 .lead {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
}
#msg-box8-3a .mbr-section-title,
#msg-box8-3a p {
  color: #fff;
}
#msg-box8-3a .mbr-section-title {
  color: #ff0000;
}
#footer1-30 P {
  text-align: right;
}
#menu-31 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-31 .navbar-caption {
  color: #ffffff;
}
#menu-31 .navbar-toggler {
  color: #000000;
}
#menu-31 .close-icon::before,
#menu-31 .close-icon::after {
  background-color: #000000;
}
#menu-31 .link,
#menu-31 .dropdown-item {
  color: #000000;
}
#menu-31 .link {
  font-size: 1.2rem;
}
#menu-31 .dropdown-item,
#menu-31 .nav-dropdown-sm .link {
  font-size: 1.300rem;
}
#menu-31 .link:hover,
#menu-31 .dropdown-item:hover,
#menu-31 .link:focus,
#menu-31 .dropdown-item:focus {
  color: #fcd7ee;
}
#menu-31 .link[aria-expanded="true"],
#menu-31 .dropdown-menu {
  background: #e6e6e6;
}
#menu-31 .nav-dropdown-sm .link:focus,
#menu-31 .nav-dropdown-sm .link:hover,
#menu-31 .nav-dropdown-sm .dropdown-item:focus,
#menu-31 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-31 .navbar,
#menu-31 .nav-dropdown-sm,
#menu-31 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-31 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-31 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-31 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-31 .bg-color.transparent.opened .link:hover,
#menu-31 .bg-color.transparent.opened .link:focus {
  color: #fcd7ee;
}
#menu-31 .link[aria-expanded="true"],
#menu-31 .dropdown-item[aria-expanded="true"] {
  color: #fcd7ee!important;
}
